.height{
    height: 80px;
    background-color: black;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.pizzaname{
    color: white;
    margin-left: 30px;

}
.buttonstate{
    margin-right: 30px;
}
.homebutton{
    display: inline-block;
    color: white;
    
}
.menubutton{
    display: inline-block;
    color: white;
    margin-left: 30px;
}
.loginbutton{
    display: inline-block;
    color: white;
    margin-left: 30px;
    margin-right: 30px
}
.firstorderbutton{
    display: inline-block;
    color: white;
    margin-left: 30px;
}
.title{
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 200px;
    font-size: 40px;
    color: rgb(237, 236, 242);
}
.subtitle{
    display: inline-block;
    position: absolute;
    bottom: 1px;
    color: white;
    font-size: 30px;
}
.cheesephoto{
    height: 100px; 
}
.cheesephotodiv{
    display: inline-block;
    margin-right: 90px;
}
.gogumaphotodiv{
    display: inline-block;
}
.pepephotodiv{
    display: inline-block;
    margin-left: 90px;
}
.pizza{
    position: absolute;
    left:300px;
    top:200px
    
}

.ourmenu{
    position: absolute;
    left: 550px;
    top: 120px;
    font-family: fantasy;
    font-size: 35px;
}
.button{
    background-color: black;
    color : white;
    cursor : pointer;
    border: solid 2px grey;
    border-radius: 12px;
    line-height: 30px;  
}
.shopbag{
    display: flex;
    justify-content: center;
    font-size: 33px;
    font-weight: bold;
    border-bottom: 4px solid black;
    height: 80px;
}
.shopbagspan{
    position: relative;
    top: 20px;
}
.checkbox{
    zoom: 1.4;
    position: relative;
    top:2px
}
.removebutton{
    background-color: white;
    border: 1px solid ;
    height: 33px;
    margin-left: 400px;
}
.shopdiv{
    display: inline-block;
    position: relative;
    left: 20px;
    top: 40px
}
.pizzaproductname{
    position: relative;
    height: 80px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid gray;
}
.pizzaproductnamesp{
    position: relative;
    top:40px;
}
.cheeselabel{
    position: relative;
    bottom: 60px;
}
.cheeseheight{
    height: 200px;
    border-bottom: 1px solid gray;
}
.shopcheeseimg{
    height: 90px;
    position: relative;
    left:25px;
    top:30px;
}
.cheesefont{
    position: relative;
    left: 60px;
    bottom: 60px;
    font-weight: bold;
    font-size: 20px;
}
.cheesevalue{
    background-color: white;
    height: 40px;
    width: 50px;
    border: solid 2px rgba(220, 220, 220, 0.792);
    position: relative;
    left: 140px
    
}
.cheeseadd{
    background-color: white;
    border: solid 2px rgba(220, 220, 220, 0.792);
    position: relative;
    left: 140px;
    bottom: 10px;
    width: 30px;
}
.cheesesub{
    background-color: white;
    border: solid 2px rgba(220, 220, 220, 0.792);
    position: relative;
    left: 110px;
    top: 10px;
    width: 30px;
}
.cheeseprice{
    position: relative;
    top: 50px;
    left: 60px;
}
.payment{
   display: inline-block;
   position: relative;
   left: 200px;
   bottom: 80px;
   height: 180px;
   width: 270px;
   border: 2px solid rgba(220, 220, 220, 0.792);
}
.expectpay{
    position: relative;
    top: 20px;
    border-bottom: 3px solid rgba(220, 220, 220, 0.792);
}
.expectpayspan{
    position: relative;
    left: 10px;
    bottom: 10px;
}
.expectpayspan2{
    position: relative;
    top: 40px;
    left: 10px;
    font-weight: bold;
}
.realpatment{
    position: relative;
    top: 39px;
    left: 120px;
}
.finshpay{
    position: relative;
    top: 80px;
    left: 20px;
    background-color: rgb(62, 222, 222);
    color: white;
    border: 1px solid white;
    font-weight: bold;
    height: 42px;
    width: 240px;
}
